<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="MyChecker">
	<module name="TreeWalker">
		<module name="MethodName">
			  <property name="format" value="^[a-z]([a-zA-Z]+)*$"/>
		</module>
		<module name="LocalVariableName">
		  <property name="format" value="^[a-z]([a-zA-Z]+)*$"/>
		</module>
		<module name="EmptyLineSeparator">
		  <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
		</module>
		<module name="WhitespaceAfter">
		  <property name="tokens" value="COMMA"/>
		</module>
		<module name="LeftCurly">
		    <property name="option" value="nlow"/>
		</module> 
		 <module name="MissingOverride">
		    <property name="javaFiveCompatibility" value="true"/>
		 </module>
	</module> 	
</module>